{{ define "action-complete" }}
{{ template "header" }}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">{{ .ActionHeader }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ .ActionDescription }}</p>
        <div class="d-grid gap d-sm-flex justify-content-sm-center mb-5">
            <a href="/"><button type="button" class="btn btn-dark btn-sm px-4 me-sm-3">На главную</button></a>
        </div>
    </div>
</div>

{{ template "footer" }}
{{ end }}